transformers
transformers[sentencepiece]==4.28.1
datasets===2.11.0
sacrebleu 
rouge_score==0.1.2
py7zr==0.20.5
pandas==2.0.0
nltk==3.8.1
tqdm==4.65.0
PyYAML==6.0
matplotlib==3.7.1
torch==2.0.0
notebook
boto3
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
fastapi==0.95.2
uvicorn==0.21.1
Jinja2==3.1.2
